<header class="sticky top-0 z-50 glass-header">
  <nav class="container mx-auto max-w-5xl px-8 py-3 flex flex-wrap items-center justify-between">
    <div>
      <h1 class="text-2xl">
        <a href="{{ site.baseUrl }}">{{ site.name }}</a>
      </h1>
    </div>

    <ul class="flex gap-6">
      <li>
        <a href="{{ site.baseUrl }}404.html">404</a>
      </li>

      <li>
        <a href="{{ site.baseUrl }}about">About</a>
      </li>
    </ul>
  </nav>
</header>