<div class="tag-cloud my-10">
    <a class="tag ai" href="{{ site.baseUrl }}tag/ai">ai</a>
    <a class="tag wasm" href="{{ site.baseUrl }}tag/wasm">wasm</a>
    <a class="tag thought" href="{{ site.baseUrl }}tag/thought">thought</a>
    <a class="tag web3" href="{{ site.baseUrl }}tag/web3">web3</a>
    <a class="tag cyberspace" href="{{ site.baseUrl }}tag/cyberspace">cyberspace</a>
    <a class="tag build" href="{{ site.baseUrl }}tag/build">build</a>
</div>
