<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2">
    <a class="tag ai mx-auto" href="{{ site.baseUrl }}tag/ai">ai</a>
    <a class="tag web3 mx-auto" href="{{ site.baseUrl }}tag/web3">web3</a>
    <a class="tag webassembly mx-auto" href="{{ site.baseUrl }}tag/webassembly">webassembly</a>
    <a class="tag python mx-auto" href="{{ site.baseUrl }}tag/python">python</a>
    <a class="tag blockchain mx-auto" href="{{ site.baseUrl }}tag/blockchain">blockchain</a>
    <a class="tag build mx-auto" href="{{ site.baseUrl }}tag/build">build</a>
</div>
