<div class="grid grid-flow-row grid-cols-3 gap-4 mb-2">
    <a class="tag ai mx-auto" href="{{ site.baseUrl }}tag/ai">ai</a>
    <a class="tag wasm mx-auto" href="{{ site.baseUrl }}tag/wasm">wasm</a>
    <a class="tag thought mx-auto" href="{{ site.baseUrl }}tag/thought">thought</a>
    <a class="tag web3 mx-auto" href="{{ site.baseUrl }}tag/web3">web3</a>
    <a class="tag cyberspace mx-auto" href="{{ site.baseUrl }}tag/cyberspace">cyberspace</a>
    <a class="tag build mx-auto" href="{{ site.baseUrl }}tag/build">build</a>
</div>
