---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: false
  filter:
    - all
    - post
    - draft
eleventyComputed:
  title: "{{ tag }}"
permalink: /tag/{{ tag }}/
---

{% extends 'page.njk' %}

{% block body %}
  {% set posts = collections[tag] | reverse %}

  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold mb-2">#{{ tag }}</h1>
    <p class="text-sm italic opacity-70">
      {{ posts.length }} {% if posts.length == 1 %}post{% else %}posts{% endif %} tagged with <strong>{{ tag }}</strong>
    </p>
  </div>

  {% include "posts.njk" %}

  {% include "tags.njk" %}
{% endblock %}
